$primary-color: #f90;
$secondary-color: #FFF;
$htxt-color: #2F281E;
$stxt-color: #8f8b86;
$width-sm: 120px;
$width-md: 200px;
$tx-lg-size: 42px;
$tx-sm-size: 16px;
$f-bold: bold;
$f-regular: 600;
